.user-container {
  background-color: #565656;
  width: 100%;
  height: fit-content;
}

.user-body {
  width: 60%;
  margin: auto;
}

.user-info {
  padding-left: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: auto;
}

.edit-button {
  background-color: black;
  color: #e2b659;
  margin: 25px;
}

.delete-button {
  background-color: black;
  color: white;
}

.movie-box {
  margin: 0 auto;
  width: 100%;
}

.movie-card {
  display: inline-block;
  margin: 10px;
  justify-content: space-evenly;
}

.img {
  height: 300px;
  width: 225px;
}

.title {
  font-size: 16px;
}

.movie-head {
  margin: 0;
}
